<footer class="footer">
	<small>by Daniel M&uuml;nstermann</small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.dfb.org/">News</a></li>
      <li><a href="http://www.rsvwuerges.de/">RSV Würges</a></li>
    </ul>
  </nav>
</footer>